.code-container {
	font-family: monospace;
	border-radius: 6px;
	overflow: hidden;
	background-color: #f5f5f5;
}

.code-top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e0e0e0;
	padding: 0.15em 0.75em;
}

.code-buttons {
	display: flex;
	gap: 0.5em;
}

.code-lang-label {
	font-family: 'Inter', sans-serif;
	color: #666;
	font-size: 0.7em;
	padding: 0.5em;
}

.code-body {
	margin: 0;
	padding: 0.75em;
	white-space: pre-wrap;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	background-color: #f5f5f5;
}

.code-output {
	font-family: monospace;
	font-weight: bold;
	padding: 0.75em;
	background-color: #f8f8f8;
	overflow: auto;
}

.icon-button {
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
	background-color: transparent !important;,
	box-shadow: none !important;
	padding: 0 !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	width: 15px;
	height: 15px;
}

.grey-icon {
	transition: color 0.2s;
	color: grey;
}

.grey-icon:hover {
	cursor: pointer;
	transition: color 0.2s;
	color: #333;
}


